body {
    background-color: white;
}
h1 {
    color: red;
}
div, a {
    color: rgb(0,0,0);
    text-decoration: none;
    font-family: arial, sans-serif;
}
.main-structure {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}
.header {
    display: flex;
    background-color: transparent;
    flex-basis: 1em;
    padding: 15px;
    justify-content: space-between;
    font-size: 13px;
    align-items: center;
}
.body {
    display: grid; 
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(3, auto);
    row-gap: 30px;
    justify-items: center;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    margin: 120px 100px;

    grid-template-areas: 
        "logo logo"
        "bar bar"
        "search lucky";
}
.topbar-left {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.topbar-right {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.top-option {
    /*background-color: rgb(240, 112, 112);*/
    padding-right: 18px;
    opacity: 0.75;
}
.sprite-icon {
    /*background-color: rgb(223, 0, 0);*/
    background-image: url('//ssl.gstatic.com/gb/images/i1_1967ca6a.png');
    height: 30px;
    width: 30px;
}
.body-button {
    background-image: -webkit-linear-gradient(top,#f5f5f5,#f1f1f1);
    background-color: #f2f2f2;
    font-size: 14px;
    font-family: arial,sans-serif;
    border: #f2f2f2;
    color: #5F6368;
    height: 36px;
    padding-left: 16px;
    padding-right: 16px;
    margin-left: 4px;
    margin-right: 4px;
}
#button-search {
    grid-area: search;
    justify-self: right;
}
#button-lucky {
    grid-area: lucky;
    justify-self: left;
}
#main-logo {
    background: rgb(255,255,255);
    grid-area: logo;
    width: 272px;
    height: 92px;
}
#searchicon {
    width: 24px;
    height: 100%;
    margin-left: 7px;
    fill: #9AA0A6;
}
#searchbar {
    grid-area: bar;
    width: 484px;
    height: 46px;
    border-radius: 24px;
    background: rgb(255,255,255);
    border: 1px solid #dfe1e5;
    display: flex;
    align-content: center;
    justify-content: space-between;
}
#searchbarfield {
    margin-left: 15px;
    margin-right: 15px;
    border: 0px;
    width: 100%;
    outline: none;
}
#micicon {
    width: 24px;
    height: 100%;
    margin-right: 14px;
}
#grid-button {
    background-position: -132px -38px;
}
#user-button {
    padding-right: 0px;
    background-color: rgb(223, 0, 0);
    height: 30px;
    width: 30px;
    border-radius: 50%;
}












